doStuff.wsdl

<wsdl:definitions name="CommunicatorService" targetNamespace="http://tempuri.org/" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:tns="http://tempuri.org/"
           xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
           xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>

        <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <xs:element name="Item">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="id" type="xs:int" />
                        <xs:element name="userId" type="xs:int" />
                        <xs:element name="name" type="xs:string" />
                        <xs:element name="price" type="xs:float" />
                        <xs:element name="bought" type="xs:boolean" />
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="CarsArray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" element="tns:Item"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeOwnerResp">
                <xs:complexType>
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="unbounded" name="result" type="xs:string"/>
                </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="CarsRequest">
    </wsdl:message>

    <wsdl:message name="CarsResponse">
        <wsdl:part name="parameters" element="tns:CarsArray"/>
    </wsdl:message>

    <wsdl:message name="carChangeOwnerRequest">
        <wsdl:part name="itemId" type="xs:integer"/>
        <wsdl:part name="userId" type="xs:integer"/>
    </wsdl:message>

    <wsdl:message name="carChangeOwnerResponse">
        <wsdl:part name="parameters" element="tns:changeOwnerResp"/>
    </wsdl:message>

    <wsdl:portType name="CommunicatorPort">
        <wsdl:operation name="getCars">
            <wsdl:input message="tns:CarsRequest" />
            <wsdl:output message="tns:CarsResponse" />
        </wsdl:operation>
        <wsdl:operation name="carChangeOwner">
            <wsdl:input message="tns:carChangeOwnerRequest" />
            <wsdl:output message="tns:carChangeOwnerResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CommunicatorBinding" type="tns:CommunicatorPort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCars">
            <soap:operation soapAction="getCars" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="carChangeOwner">
            <soap:operation soapAction="carChangeOwner" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="CommunicatorService">
        <wsdl:port name="CommunicatorPort" binding="tns:CommunicatorBinding">
            <soap:address location="http://localhost:80/soap"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>